/* On mouse hover, lighten state color */

body{
	background-color: #b3e6ff;
}

#main{
	display: inline-block;
	position: relative;
	width: 450px;
	bottom: 600px;
	left: 500px;
}

h1{
	font-family: "Abadi MT Condensed Extra Bold", sans-serif;
	font-size: 70px;
	font-style: italic;
	color: #223360;
	text-align: center;
	margin: 0;
}

h2{
	font-family: "Abadi MT Condensed Extra Bold", sans-serif;
	font-style: italic;
	font-size: 26px;
	color: #223360;
	text-align: center;
	margin: 0;
}

.main-button{
	font-family: "Abadi MT Condensed Extra Bold", sans-serif;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	display: block;
	position: relative;
	width: 100px;
	margin: 6px auto;
	color: #223360;
	border: 1px solid #ccc;
	border-radius: 3px;
	vertical-align: center;
	background-color: white;
}

.main-button:focus{
	outline: none;
}

.main-button:hover{
	background-color: #b3e6ff;
	border: 1px solid #223360;
	cursor: pointer;
}

.background{
	fill: #b3e6ff;
}

.states:hover {
	fill-opacity: .7;
}
.worldmap{
	stroke: #fff;
	fill: #79d279;
	stroke-width: 1;
}

.worldmap-active{
	fill: #ffa31a;
}

.country-tooltip {
	position: absolute;
	text-align: center;
	display: inline;
	padding: 12px;
	font: 12px sans-serif;
	background: rgba(0, 0, 0, 0.8);
	color: rgb(185, 185, 185);
	border-radius: 2px;
	pointer-events: none;
}

.circle-tooltip {
	position: absolute;
	text-align: left;
	display: inline;
	font: 12px sans-serif;
	background: rgba(255, 255, 255, 1.0);
	color: #222;
	border-radius: 0px;
	pointer-events: none;

	box-shadow: 6px 5px 12px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 6px 5px 12px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 5px 12px 1px rgba(0,0,0,0.5);
}

.circle-tooltip p {
	margin: 1px;
}

.circle-tooltip-container {
	height: auto;
	overflow: hidden;
}

.circle-tooltip-img {
	width: 100%;
    height: 100%;
    object-fit: contain;
}

.circle-tooltip-right {
	float: right;
	padding: 12px 20px;
}

.circle-tooltip-title {
	font: 14px sans-serif;
	color: #222;
}

.circle-tooltip-text {
	color: #666;
}


.circle-tooltip-left {
	height: 120px;
	float: none;
    width: auto;
	overflow: hidden;
}

.panel {
	position: absolute;     
	text-align: left;
	background: #fff;
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	width: 600px;
	height: 250px;
	border-radius: 8px 0px 0px 0px;
}

.panel-hidden {
	display: none;
}

.panel::after {
	content: "";
	flex: 0 0 20px;
}

.panel-button {
	position: absolute;     
	text-align: center;
	border-radius: 4px 4px 0px 0px;
	width: 40px;
	height: 25px;
	cursor:pointer;
	background:rgba(255,255,255,0.9);
	border: none;
	box-shadow:0px 1px 4px rgba(0, 0, 0, 0.3);
}

.card {
	float: left; 
	height: 95%;
	margin: 10px;
	padding: 0px;
	font: 12px sans-serif; 
	width: 280px;

	box-shadow: 1px 5px 12px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 6px 5px 12px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 5px 12px 1px rgba(0,0,0,0.5);
}

.card-img-container {
	overflow: hidden;
}

.card-img {
	height: 130px;
	width: 280px;
	object-fit: cover;
}

.card-info {
	width: 280px;
	padding: 2px 10px;
}

.card p {
	margin: 1px;
	text-overflow: ellipsis;
    width: 265px;
    white-space: nowrap;
    overflow: hidden;
}

.card-title {
	font: 14px sans-serif;
	color: #222;
}

.card-text {
	color: #666;
}


.tick text{
	fill: #223360;
}

  /* Creates a small triangle extender for the tooltip */
/* .tooltip:after {
    content: '';
    border-bottom: 1px dashed rgb(177, 177, 177);
     border-right: 1px dashed rgb(177, 177, 177);
     background-color:white;
    position: absolute;
    left: 110px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  } */
/* Legend Font Style */

/* Legend Position Style */
.legend {
	position:absolute;
	left:800px;
	top:350px;
}

.circles {
	fill: #ff6348;
	opacity: 0.85;
	paint-order: stroke;
}

.circles-active {
	fill: #4411ff;
	stroke: #4411ff;
	opacity: 0.85;
}

.circles-hidden {
	opacity: 0.0;
}

.circles:hover{
	fill: #800000;
	stroke: #800000;
}

#partitionSVG{
	position: relative;
	bottom: 200px;
	margin-left: 40px;
}

#slider{
	position: relative;
	bottom: 420px;
	left: 150px;
}